{% extends 'layout.html'%}
{% block body %}
{% for key,value in v.items() %}
<br/>
<div class="container w-75" >
  <table class="table table-hover w-100 " >
      <tbody>
      <tr>
        <th scope="col" colspan="2" class="table-info text-center">{{key}}</th>
      </tr>
      <tr>
          <td class="text-center bg-info ">Package </td>
          <td  class="text-center table-primary">{{name}}</td>
        </tr>
  {% for keyy,valuee in value.items() %}
      <tr>
          <td class="text-center bg-info ">{{ keyy }} </td>
          <td  class="text-center table-primary">{{ valuee }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endfor %}



{% endblock %}
