{% extends 'layout.html'%}
{% block body %}
{% for key,value in result.items() %}
<div class="card mx-auto d-block border border-secondary shadow-lg p-3 mb-5  rounded" style="width: 48rem;" >
  <div class="card-header text-center text-capitalize fs-5 fw-bold ">
	General information of {{key}} SERVER: {{name}}
  </div>
    <ul class="list-group list-group-flush ">
	{% for key2,value2 in value.items() %}

    <li class="list-group-item fw-bolder  ">{{key2}} utilization%:
		<div class="progress fs-6 text-center" style="height: 20px;">
  <div class="progress-bar" role="progressbar" style="width: {{value2}}%;" aria-valuenow="{{value2}}" aria-valuemin="0" aria-valuemax="100">{{value2}} %</div>
        </div>
	</li>
{% endfor %}
  </ul>
</div>


{% endfor %}

{% endblock %}

